/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
/*  styles     */
body{line-height: 1.5;}
p{margin-top: 10px;
   margin-bottom: 10px;
   font-size: 17px;
}
article{margin-bottom: 60px;
}
.bottom{text-align: center;
        background-color: tomato;
        padding: 20px;
}
.top{text-align: center;
    margin-bottom: 60px;
    background-color: yellow;
    padding: 20px;

}
h1{font-size: 36px;
   font-weight: 700;

}
.heading{font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;

}

.image{height: 250px; 
    width: 280px;
}
.initial{background-color: rgb(200, 100,10);
}
.second{background-color: rgb(1, 200, 80);
}
.third{background-color: rgb(110,170, 25);
}
.fourth{background-color: rgb(150,120,0 );}